.Jobli {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  margin-bottom:10px;
  padding:20px;
  box-sizing: border-box;
  width:335px;
  height:164px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  img {
    vertical-align: top;
  }
  a {
    display: inline-block; 
    text-decoration: none;
    color: #000000;
  }
  .jobTitle {
    text-align: start;
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    }
    .jobby {
      padding:13px 0 16px;
      box-sizing: border-box;
      font-family: "Roboto",sans-serif;
      font-weight: bold;
      font-size:14px;
      .jobby-name {
        margin-bottom:3px;
      }
     
    }
    .jobby>a:hover{
      color:#FEBB10;
    }
  .job_comments {
    display: inline-block;
    display:flex;
    align-items: center;
    // width: 63px;
    height: 10px;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    /* or 100% */
    letter-spacing: -0.5px;
   
  
    color: #FEBB10;

  }
  
}